
 <form [formGroup]='mazeForm' (ngSubmit)="onSubmit()">
   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="widthInput">Width: </label>
      <input type="text" id="widthInput" formControlName="width" class="form-control" required/>
    </div>
    <div class="form-group col-md-6">
      <label for="heightInput">Height: </label>
      <input type="text" id="heightInput" formControlName="height" class="form-control" required/>    
    </div>
  </div>
  <div class="form-group col-md-3">
    <button type="submit" class="btn btn-primary" [disabled]="!mazeForm.valid">Generate</button>
  </div>
 </form>

